body {
    background-color: blue;
}

.new-border {
    border: 2px solid black;
}

.title {
    border-color: green;
}

.image {
    border-color: purple;
}

.text1 {
    border-color: red;
}

.text2 {
    border-color: orange;
}

.footer {
    border-color: aqua;
}

/*Navigation styling*/
.top-nav {
    background-color: goldenrod;
    height: 45px;
}

.top-nav li {
    list-style-type: none;
    font-family: "Arial";
    padding: 0 5px;
    float: left;
    margin:0 12px;
    cursor: pointer;
}



/*
.new-border2 {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}*/